<ion-header>
  <ion-navbar>
    <ion-title>Welcome to Hidden Walks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-slides  *ngIf="walks" pager="true" centeredSlides="false" loop="true">
	  <ion-slide *ngFor="let walk of walks">
	  		<div [ngStyle]="{'background-image': 'url(' + walk.image_url + ')'}">
        		
    		</div>
    		{{walk.image_url}}
    		<h1>{{walk.name}}</h1>
    		<p>{{walk.description}}</p>
    		<button ion-button (click)="goToWalk(walk)" full>Start Walk</button>
	  </ion-slide>
	</ion-slides>  
</ion-content>
