<ion-header>
  <ion-navbar>
    <ion-title>Welcome to Hidden Walks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-slides  *ngIf="walks" pager="true" loop="true">
	  <ion-slide *ngFor="let walk of walks">
	  		<div class="feature-image" [ngStyle]="{'background-image': 'url(assets/imgs/' + walk.image_url +')'}">
        		
    		</div>
    		<h1>{{walk.name}}</h1>
    		<p class="description">{{walk.description}}</p>
    		<button ion-button (click)="goToWalk(walk)" full>Start Walk</button>
	  </ion-slide>
	</ion-slides>  
</ion-content>
