<ion-header>
  <ion-navbar>
    <ion-title>Walk Tours London</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-slides  *ngIf="walks?.length;else loadingAnimation" pager="true" loop="true">
	  <ion-slide *ngFor="let walk of walks">
	  		<div class="feature-image" [ngStyle]="{'background-image': 'url(' + serverUrl + walk.image_url + ')'}">
        		
    		</div>
    		<h1>{{walk.name}}</h1>
    		<p class="description">{{walk.description}}</p>
    		<button ion-button (click)="goToWalk(walk)" full>Start Walk</button>
	  </ion-slide>
	</ion-slides>
  <ng-template #loadingAnimation>
    <div class="spinner-container">
      <ion-spinner></ion-spinner> 
      <p>Please wait, loading walks ...</p>  
    </div>
  </ng-template>
</ion-content>
