page-waypoint {
	ion-slides {
		margin-bottom:15px; 
		height:auto; 
		ion-slide.swiper-slide {
			height:180px; 	
			width:100%; 
			background-size:cover; 
			background-repeat:no-repeat; 
			background-position:center center; 			
		}
		.swiper-container-horizontal > .swiper-pagination {
			.swiper-pagination-bullet {
				background-color:red; 
			}
		}
	}
	audio-track {
		.item-inner {
			border-bottom:none!important; 
		}
	}
}