<ion-header>
  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<ion-slides  *ngIf="images" pager="true" centeredSlides="false">
	  <ion-slide *ngFor="let image of images" [ngStyle]="{'background-image': 'url(' + image + ')'}">
	  </ion-slide>
	</ion-slides>
    {{info}}

</ion-content>

<ion-footer no-border>
  <ion-toolbar>    
	  <audio-track #audio *ngFor="let track of myTracks"  [track]="track">
	    <ion-item>  
	      <ion-thumbnail item-left>    
	        <audio-track-play dark [audioTrack]="audio"><ion-spinner></ion-spinner></audio-track-play>  
	      </ion-thumbnail>
	      <div item-content style="width:100%">
	        <audio-track-progress-bar dark duration progress [audioTrack]="audio"></audio-track-progress-bar>
	      </div>
	    </ion-item>    
	  </audio-track>
  </ion-toolbar>
</ion-footer>
