page-waypoint {
	ion-slides {
		height:auto; 
		.ion-slide {
			height:180px; 
			div {
				height:100%; 
				width:100%; 
				background-size:cover; 
				background-repeat:no-repeat; 
				background-position:center center; 
			}
		}
		.swiper-container-horizontal > .swiper-pagination {
			.swiper-pagination-bullet-active {
				background-color:red; 
			}
		}
	}
}